.container {
  display: flex;
  width: 30%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.heading {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.content {
  color: #000;
  font-size: 20px;
  font-weight: 300;
}

.iconWrapper {
  background-color: #2E45A5;
  border-radius: 12px;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center ;
}


