.container {
  width: 100vw;
  padding: 0 12rem;
  display: flex;
  flex-direction: column;
}

.headingWrapper {
  margin-bottom: 2rem;
}

.heading {
    color: #515151;
  font-size: 38px;
  font-weight: 600;
  line-height: 52px;
}

.subHeading {
    color: #515151;
    width: 50%;
    margin-bottom: 8rem;
}


.headColorBlue {
    color: #2E45A5;
}

.itemContainer {
  display: flex;
  gap: 12rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
