.container {
  display: flex;
  flex-direction: column;
  padding: 10rem 12rem;
  width: 100vw;
  background-color: rgb(230, 230, 255);
}

.cardContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 32%;
  height: 640px;
  border-radius: .75rem;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bgImage {
  position: absolute;
  top: 1.25rem;
  right: 0;
  height: 100px;
}

.cardBGYello {
  background-color: #fbd06d;
}

.cardBGBlue {
  background-color: #141d44;
}

.cardHeading {
  font-size: 1.25rem;
  margin-bottom: 8rem;
}

.colorGrey {
  color: #515151;
}

.colorWhite {
  color: #ffffff;
}

.contentFontSize {
  font-size: 1.8rem;
}

.fontBold {
  font-weight: 600;
}

.heading {
  font-size: 2.3rem;
  font-weight: 600;
  text-align: right;
}

.headColorBlack {
  color: black;
}

.headColorBlue {
  color: #2e45a5;
}

.mb60 {
  margin-bottom: 60px;
}

.subHeading {
  font-size: 1.25rem;
  width: 50%;
}

.mtAuto {
  margin-top: auto;
}

.iconBg {
  width: 2.5rem;
  border-radius: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.transWhiteBG {
  background-color: #ffffff36;
}

.transGreyBG {
  background-color: #51515136;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.itemHeading {
  font-size: 3.3rem;
  font-weight: 700;
  color: #141d44;
}

.itemContent {
  font-size: 1.5rem;
  font-weight: 600;
  color: #141d44;
}

.name {
  font-size: 1.2rem;
  margin-top: auto;
}

.flex {
    display: flex;
}
