.classEnterActive {
    opacity: 0;
  }
  .classEnterDone {
    opacity: 1;
    transition: opacity 200ms;
  }
  .classExit {
    opacity: 1;
  }
  .classExitActive {
    opacity: 0;
    transition: opacity 200ms;
  }