.videoWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.video {
    height: 100vh !important;
    display: flex;
    align-items: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    width: 50%;
    height: 100%;
    padding: 0 0 0 12rem;
}

.heading {
    color: #2E45A5;
    font-size: 42px;
    margin-bottom: 30px;
}

.subContent {
    font-size: 20px;
    color: #515151;
    width: 50%;
    margin-bottom: 30px;
}

.button {
    height: 52px;
    width: max-content;
    padding: 0 30px;
    background-color: #2e45a5;
    outline: none;
    border:none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
}