.container {
    width: 100vw;
    padding: 4rem 12rem;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: .4rem;
}

.subHeading {
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
}

.button {
    padding: 1rem;
    font-size: 1.2rem;
    color: #FFFFFF;
    border-radius: .5rem;
    border: 1px solid #FFFFFF;
}