.socialWrapper {
    position: fixed;
    left: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 6px;   
    border-radius: 8px;
    padding: 4px;
    z-index: 1;
    background-color: #ffffff;
}

.footerSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    padding: 4px;
    z-index: 1;
}