.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    padding: 16rem 6rem;
    position: relative;
    z-index: 4;
    width: 100vw;
    /* background-image: linear-gradient(to right, #fff, #ffffffe5, #ffffffd6, #3b3b3b8a, #0000006e); */
    background-image: linear-gradient(to right, #000, #000000e5, #000000d6, #0000008a, #0000006e);
    background-image: linear-gradient(to right, #1a1a1a, #151515, #101010d6, #0808088A, #0000006E);
}

.headingContainer > -webkit-scrollbar {
    display: none;
  }

.heading {
    font-size: 8rem;
    font-weight: 00;
    width: 60%;
    color: #FFFFFF65;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: all ease-in-out 300ms;
}

.heading:hover {
    color: #ffffff;
    z-index: 1;
}

.videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.video {
    display: flex;
    align-items: center;
}