

.container {
    display: flex;
    width: 100vw;
    padding: 2rem 12rem;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    background-color: transparent;
}

.containerActive {
    background-color: white;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
}

.navItems {
    display: flex;
    gap: 60px;
}

.navItem {
    color: #444444;
    cursor: pointer;
}

.navItem:hover {
    color: #2E45A5;
    font-weight: 600;
}

.navItemActive {
    color: #444444;
}
