.enter-active {
    opacity: 0;
    display: none;
  }
  .enter-done {
    opacity: 1;
    display: block;
    transition: all 500ms;
  }
  .exit-active {
    opacity: 1;
    display: block;
  }
  .exit {
    opacity: 0;
    display: none;
    transition: all 500ms;
  }