.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 3rem 0;
    background-position: bottom;
    position: relative;

}

.blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.009);
    backdrop-filter: blur(6px);
    z-index: 1;
}


.headWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 7rem;
    padding: 0 12rem;
    z-index: 3;
}

.scrollWrapper {
    z-index: 3;
}

.heading {
    font-size: 38px;
    font-weight: 600;
}

.headColorGrey  {
    color: #515151;
}

.headColorBlue {
    color: #2E45A5;
}

.panelWrapper {
    display: flex;
    gap: 20px;
    width: calc(100vw - 12rem);
    overflow: hidden;
}

.panelWrapperReverse {
    display: flex;
    gap: 20px;
    margin: 3rem 0 0 12rem;
}