.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 3rem 0
}


.headWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 0 12rem;
}

.heading {
    font-size: 38px;
    font-weight: 600;
}

.headColorBlack {
    color: black;
}

.headColorBlue {
    color: blue
}

.panelWrapper {
    display: flex;
    gap: 20px;
    width: calc(100vw - 12rem);
    overflow: hidden;
}

.panelWrapperReverse {
    display: flex;
    gap: 20px;
    margin: 3rem 0 0 12rem;
}