.container {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    backdrop-filter: blur(6px)
}

.heading {
    font-size: 20px;
    font-weight: 600;
    color: #515151;
}

.content {
    font-size: 14px;
    font-weight: 300;
    color: #393939
}