

.blob {
    position: absolute;
    right: 0;
    top: 0;
    width: 650px;
    height: 1180px
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.bannerHeading {
    font-size: 52px;
    line-height: 52px;
    font-weight: 600;
    color: #515151;
    width: 80%;
}

.subHeading {
    font-size: 22px;
    font-weight: 600;
    color: #393939;
    width: 80%;
}

.button {
    border-radius: 8px;
  border: 2px solid #4156C0;
  background: #FFF; 
  color: #4156C0;
  width: 150px;
  height: 52px;
  font-size: 18px;
    font-weight: 400;
}

.imgContainer {
    width: 70%;
    height: 60vh;
}

.bannerImage {
    width: 100%;
}

.bgPOS{
    background-color: #97FFB3;
}

.bgFSP {
    background-color: #B675FF;
}

.bgAnalytics {
    background-color: #FF707C;
}

.bgEcommerce {
    background-color: #FFDC7A;
}



.bgNAS {
    background-color: #DBBBFF;
}

.bgIE {
    background-color: #6881FF;
}

.bannerContainer {
    width: 600%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overscroll-behavior: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 10rem;
}